@using Microsoft.AspNetCore.Http;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Success Page</h3>
    Welcome @Context.Session.GetString("username")
    <br>

   @* <div><input type="button" value="Employee Data" onclick="@("window.location.href='" + Url.Action("Employee","Index"+ "'");" />*@
</div>
    <a asp-controller="account" asp-action="logout">Logout</a>

</body>
</html>